CONFIG_MD=y
CONFIG_BLK_DEV_DM=y
CONFIG_PC9202_WATCHDOG=y
CONFIG_TYPEC_TCPM=y
CONFIG_TYPEC_TCPCI=y
CONFIG_TYPEC_FUSB302=y
CONFIG_NEW_LEDS=y
CONFIG_LEDS_CLASS=y
CONFIG_LEDS_GPIO=y
CONFIG_LEDS_TRIGGERS=y
CONFIG_LEDS_TRIGGER_TIMER=y
CONFIG_RTC_DRV_HYM8563=y
CONFIG_RTC_DRV_PCF8563=y
CONFIG_VIDEO_IMX335=y
CONFIG_VIDEO_IMX415=y
