CONFIG_MD=y
CONFIG_BLK_DEV_DM=y
CONFIG_PC9202_WATCHDOG=y
CONFIG_TYPEC_TCPM=y
CONFIG_TYPEC_TCPCI=y
CONFIG_TYPEC_FUSB302=y
CONFIG_NEW_LEDS=y
CONFIG_LEDS_CLASS=y
CONFIG_LEDS_GPIO=y
CONFIG_LEDS_TRIGGERS=y
CONFIG_LEDS_TRIGGER_TIMER=y
CONFIG_RTC_DRV_HYM8563=y
CONFIG_RTC_DRV_PCF8563=y
CONFIG_VIDEO_IMX335=y
CONFIG_VIDEO_IMX415=y
CONFIG_VIDEO_XC7160=y

CONFIG_TOUCHSCREEN_GT1X=y
CONFIG_TOUCHSCREEN_GT9XXX=y

CONFIG_SND_SOC_ES8389=y
CONFIG_USB_SERIAL=y
CONFIG_USB_SERIAL_CH341=y
CONFIG_USB_SERIAL_CP210X=y
CONFIG_USB_SERIAL_FTDI_SIO=y
CONFIG_USB_SERIAL_PL2303=y
CONFIG_USB_SERIAL_OTI6858=y
CONFIG_USB_SERIAL_QUALCOMM=y
CONFIG_USB_SERIAL_SIERRAWIRELESS=y
CONFIG_USB_SERIAL_WWAN=y
CONFIG_USB_SERIAL_OPTION=y
CONFIG_USB_NET_QMI_WWAN=y
